################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Text/Text.Prototyping/bin
/Text/.vs/config
/Text/.vs/Text/v15/.suo
/Text/Text.Extract/bin/Debug
/Text/Text.Extract/obj/Debug
/Text/Text.Search/bin/Debug
/Text/Text.Search/obj/Debug
/Text/Text.Prototyping/obj/Debug
/Text/Text.NaturalLanguageProcessing/bin/Debug
/Text/Text.NaturalLanguageProcessing/obj/Debug
/Text/packages
