################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Text/Text.Prototyping/bin
/Text/.vs/config
